@use '../global/' as var;

.l-footer {
	width: 100%;
	background: var.$white;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

	&__wrapper {
		padding-top: 29px;
	}

	&__container {
		display: flex;
		width: 100%;
	}

	&__title-link {
		display: block;
		height: 100%;
	}

	&__logo-inner {
		display: inline-block;
		height: 100%;
	}

	&__logo {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__column {
		margin-right: 25px;

		&:first-child {
			margin-right: 64px;
		}

		&:last-child {
			margin-left: auto;
			margin-top: 69px;
		}
	}

	&__item {
		margin-bottom: 14px;
	}

	&__link {
		font-weight: 300;
		@include var.font-size(16);
		color: var.$base-text-color;
		line-height: 1.2;
		letter-spacing: 0.0145455em;

		&:hover {
			opacity: .5;
			// text-decoration-line: underline;
		}
	}

	&__button-inner {
		text-align: center;
	}

	&__bottom {
		margin-top: 43px;
	}
}
