@use '../global/' as var;

.l-header {
  width: 100%;
  background: var.$white;
  box-shadow: 0 4px 10px rgb(0 0 0 / 5%);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;
  }

  &__title-link {
    display: block;
    height: 100%;
  }

  &__logo-inner {
    display: inline-block;
    height: 100%;
  }

  &__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.l-header-nav {
  &__container {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-right: 26px;
    text-align: center;
    margin-top: 22px;

    &:nth-last-child(2) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
      margin-left: 32px;
    }
  }

  &__link {
    font-weight: 300;
    line-height: 1.2;
    color: var.$base-text-color;
    position: relative;

    @include var.font-size(18);

    &::before{
      content: attr(data-english-title);
      font-weight: 400;
      color: var.$base-text-color;
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      @include var.font-size(14);
    }
  }

  .c-button {
    padding: 16px 21px;
    color: var.$white;
    background: var.$primary-color;
    border-radius: 6px;

    @include var.font-size(21);
  }
}
