@use '../global/' as var;

.l-request {
	margin-top: 61px;
	background: #f7faff;

	&__wrapper {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	&__container {
		padding-top: 59px;
		padding-bottom: 79px;
		background: #fff;
		border-radius: 16px;
	}

	&__text {
		font-size: 20px;
		font-weight: 500;
		color: var.$primary-color;
		text-align: center;
	}

	&__button-inner {
		margin-top: 40px;
		text-align: center;
	}
}
