// Object
// object/component/_archive-pagination.scss
@use '../../global' as var;

.c-archive-pagination {
  display: flex;
  justify-content: center;

  &__item {
    margin-right: 14px;

    &:last-child {
      margin-right: 0;
    }

    &:not(:first-of-type):not(:last-of-type) {
      .c-archive-pagination__link {
        &:hover {
          color: var.$white;
          background-color: var.$primary-color;
          border-radius: 6px;
        }
      }
    }
  }

  &__link {
    display: block;
    padding: 17px 20px;
    font-size: 21px;
    font-weight: 700;
    color: var.$primary-color;

    &[aria-current='page'] {
      color: var.$white;
      background-color: var.$primary-color;
      border-radius: 6px;
    }
  }

  &__text {
    position: relative;
    font-size: 21px;
    font-weight: 600;
    color: var.$primary-color;
  }

  .previous {
    &::before {
      position: absolute;
      top: 3px;
      left: -20px;
      content: url(/static/assets/images/link-arrow.svg);
      transform: rotate(180deg);
    }

    &:hover {
      opacity: 0.5;
    }
  }

  .next {
    &::after {
      position: absolute;
      top: 3px;
      right: -20px;
      content: url(/static/assets/images/link-arrow.svg);
    }

    &:hover {
      opacity: 0.5;
    }
  }
}
