@use '../../global/' as var;

.p-contents-detail {
	padding-top: 56px;
	padding-bottom: 56px;
	margin-top: 29px;
	background: #f7faff;

	&__wrapper {}
}

.c-contents-detail {
	&__wrapper {
		padding: 48px 103px;
		background: #fff;
		border-radius: 19px;
		box-shadow: 0 0 10px #d9e7ff;
	}

	&__wrapper--no-shadow {
		padding: 48px 103px;
		background: #fff;
		border-radius: 19px;
	}

	&__top {}

	&__data-container {
		display: flex;
		align-items: center;
	}

	&__rank {
		margin-right: 10px;
		font-size: 14px;
		font-weight: 300;
		color: #323232;
		letter-spacing: 0.0145455em;
	}

	&__date {
		margin-right: 10px;
		font-size: 14px;
		font-weight: 300;
		color: #323232;
		letter-spacing: 0.0145455em;
	}

	&__category-inner {
		display: flex;
		align-items: center;
	}

	&__category-tag {
		padding: 4px 8px;
		margin-right: 16px;
		font-size: 14px;
		font-weight: 300;
		color: var.$primary-color;
		letter-spacing: 0.0145455em;
		background: #f7faff;
		border: 1px solid #f7faff;
		border-radius: 5px;
	}

	&__middle {
		margin-top: 8px;
	}

	&__question-inner {}

	&__subtitle-question-inner {
		padding-bottom: 0.5rem;
		border-bottom: 1px solid var.$primary-color;

		&::after {
			font-size: 70px;
			font-weight: 700;
			color: rgb(12 56 152 / 5%);
			content: attr(data-english-title);
		}
	}

	&__subtitle-answer-inner {
		padding-bottom: 0.5rem;

		&::after {
			font-size: 70px;
			font-weight: 700;
			color: #fef8f7;
			content: attr(data-english-title);
		}
	}

	&__subtitle {
		display: inline;
		padding: 4px 8px;
		font-size: 20px;
		font-weight: 600;
		color: #fff;
		border-radius: 5px;

		&-question {
			background: var.$primary-color;
		}

		&-answer {
			background: #f1795e;
		}
	}

	&__title-inner {
		padding-bottom: 16px;
		margin-top: 23px;
		border-bottom: 1px solid var.$primary-color;
	}

	&__title {
		font-size: 26px;
		font-weight: 600;
		line-height: 1.3;
		color: #323232;
		letter-spacing: 0.0145455em;
	}

	&__bottom {
		margin-top: 8px;
	}

	&__contents {
		font-size: 21px;
		line-height: 1.5;
		font-weight: 300;
		letter-spacing: 0.0145455em;
		color: #323232;

		h1 {}

		h2 {}

		h3 {}

		h4 {}
	}

	&__answer-inner {}

	&__answer {
		padding: 21px 27px;
		background: #fef8f7;
		border-radius: 19px;

		p {
			font-size: 24px;
			font-weight: 300;
			line-height: 1.2;
			color: #323232;
		}
	}

	&__like-container {
		display: flex;
		justify-content: center;
		margin-top: 48px;
	}

	&__button-inner {
		margin-right: 58px;
		text-align: center;
	}

	&__button {
		position: relative;
		display: block;
		width: 85px;
		height: 85px;
		margin-right: auto;
		margin-bottom: 12px;
		margin-left: auto;
		background: #fff;
		border-radius: 50px;
		box-shadow: 0 0 10px #d9e7ff;
	}

	&__button-text {
		font-size: 14px;
		font-weight: 600;
		color: #323232;
	}

	&__like-number {
		position: absolute;
		top: 34%;
		left: 19%;
		font-size: 31px;
		font-weight: 700;
		color: var.$primary-color;
	}

	&__good-icon {
		content: url(/static/assets/images/good.svg);
	}

	&__bookmark-icon {
		content: url(/static/assets/images/bookmark-pin.svg);
	}
}
