@use '../../global/' as var;

.c-faq-detail {
  &__question-inner {}

  &__subtitle-question-inner {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var.$primary-color;

    &::after {
      font-size: 70px;
      font-weight: 700;
      color: rgb(12 56 152 / 5%);
      content: attr(data-english-title);
    }
  }

  &__subtitle-answer-inner {
    padding-bottom: 0.5rem;

    &::after {
      font-size: 70px;
      font-weight: 700;
      color: var.$answer-secondary-color;
      content: attr(data-english-title);
    }
  }

  &__subtitle {
    display: inline;
    padding: 4px 8px;
    font-size: 20px;
    font-weight: 600;
    color: var.$white;
    border-radius: 5px;

    &-question {
      background: var.$primary-color;
    }

    &-answer {
      background: #f1795e;
    }
  }

  &__title-inner {
    margin-top: 23px;
  }

  &__title {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.3;
    color: var.$primary-color;
    letter-spacing: 0.0145455em;
  }

  &__subtitle-answer {}

  &__answer-inner {}

  &__answer {
    padding: 21px 27px;
    background: var.$answer-secondary-color;
    border-radius: 19px;

    p {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.2;
      color: #323232;
    }
  }

  &__like-container {
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }

  &__button-inner {
    margin-right: 58px;
    text-align: center;
  }

  &__button {
    position: relative;
    display: block;
    width: 85px;
    height: 85px;
    margin-right: auto;
    margin-bottom: 12px;
    margin-left: auto;
    background: var.$white;
    border-radius: 50px;
    box-shadow: 0 0 10px #d9e7ff;
  }

  &__button-text {
    font-size: 14px;
    font-weight: 600;
    color: #323232;
  }

  &__like-number {
    position: absolute;
    top: 34%;
    left: 19%;
    font-size: 31px;
    font-weight: 700;
    color: var.$primary-color;
  }

  &__good-icon {
    content: url(/static/assets/images/good.svg);
  }

  &__bookmark-icon {
    content: url(/static/assets/images/bookmark-pin.svg);
  }
}
