@use '../../global/' as var;

.c-faq-card {
	padding: 25px;
	background: #fff;
	border: 1px solid #d9e7ff;
	border-radius: 19px;

	&__top {
		display: flex;
	}

	&__title-q {
		margin-right: 14px;
		font-size: 38px;
		color: #c6c6c6;
	}

	&__title {
		@include var.font-size(20);

		font-weight: 600;
		line-height: 1.5;

		&::before {
			display: inline;
			content: attr(data-faq-title);
		}
	}

	&__title-link {
		color: var.$base-text-color;
	}

	&__middle {
		margin-top: 12px;
	}

	&__category-tag {
		padding: 4px 8px;
		margin-right: 8px;
		font-size: 14px;
		font-weight: 300;
		color: var.$primary-color;
		background: #f7faff;
		border: 1px solid #f7faff;
		border-radius: 5px;
	}

	&__bottom {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		margin-top: 24px;
	}

	&__like-container {}

	&__like-number {
		font-family: Arial;
		font-size: 28px;
		font-weight: 700;
		color: var.$primary-color;
	}

	&__like-text {
		margin-right: 18px;
		font-size: 16px;
		font-style: normal;
		font-weight: 300;
		color: var.$base-text-color;
	}

	&__like {
		img {
			width: 89%;
		}
	}

	&__infomation-inner {}

	&__rank {
		margin-right: 10px;
		margin-left: 10px;
		font-size: 14px;
		font-weight: 300;
		color: var.$base-text-color;
	}

	&__date {
		margin-right: 32px;
		font-size: 14px;
		font-weight: 300;
		color: var.$base-text-color;
	}

	&__link {
		font-size: 14px;
		font-weight: 600;
		color: var.$primary-color;

		&::after {
			display: inline-block;
			margin-left: 10px;
			vertical-align: text-top;
			content: url(/static/assets/images/link-arrow.svg);
		}
	}
}
