// object/component/_index.scss

@forward 'page-title';
@forward 'search-form';
@forward 'section-title';
@forward 'faq-card';
@forward 'category-tag';
@forward 'primary-button';
@forward 'repetition-keywords';
@forward 'category-card';
@forward 'copyright';
