@use '../../global/' as var;

.c-page-title {
  position: relative;


  @include var.font-size(32);

  font-weight: 600;
  letter-spacing: 0.0145455em;

  &::before {
    position: absolute;
    right: -20%;
    bottom: -160px;
    font-family: Arial;
    font-size: 170px;
    font-weight: 700;
    color: rgb(12 56 152 / 5%);
    letter-spacing: -0.0655em;
    content: attr(data-english-title);
  }

  &::after {
    position: absolute;
    bottom: -10px;
    left: calc(50% - 55px);
    display: inline-block;
    width: 110px;
    height: 1px;
    content: '';
    background-color: var.$primary-color;
  }

  &__sub {
    margin-top: 29px;
    font-weight: 300;

    @include var.font-size(16);
  }
}
