@use '../../global/' as var;

.c-primary-button {
	display: inline-block;
	padding: 12px 60px;
	font-size: 21px;
	font-weight: 500;
	color: var.$primary-color;
	background: #fff;
	border: 1px solid var.$primary-color;
	border-radius: 6px;

	&--fill {
		padding: 20px 45px;
		font-size: 21px;
		font-weight: 600;
		color: #fff;
		background: var.$primary-color;
		border-radius: 6px;

		&::before {
			display: inline-block;
			margin-right: 17px;
			vertical-align: middle;
			content: url(/static/assets/images/mail.svg);
		}
	}
}
