@use '../../global/' as var;

.c-primary-button {
	font-weight: 500;
	font-size: 21px;
	padding: 12px 60px;
	background: #FFFFFF;
	border: 1px solid #0C3898;
	border-radius: 6px;
	color: #0C3898;
	display: inline-block;
	&--fill {
		background: #0C3898;
		color: #fff;
		font-weight: 600;
		font-size: 21px;
		padding: 20px 45px;
		border-radius: 6px;

		&:before {
			content: url(/static/assets/images/mail.svg);
			display: inline-block;
			vertical-align: middle;
			margin-right: 17px;
		}
	}
}
