@use '../../global' as var;

.c-section-title {
  @include var.font-size(26);

  position: relative;
  font-weight: 600;
  letter-spacing: 0.0145455em;

  &::before {
    display: block;
    margin-bottom: 13px;
    font-weight: 400;
    color: var.$primary-color;
    letter-spacing: 0.0145455em;
    content: attr(data-english-title);

    @include var.font-size(16);
  }

  &::after {
    position: absolute;
    top: 71%;
	left: -73%;
    display: inline-block;
width: 715px;
    height: 1px;
    content: '';
    background-color: var.$primary-color;
  }

  &__subtext {
    margin-top: 16px;
  }
}
