{% load static %}
<section class="p-information-detail">
  <div class="p-information-detail__wrapper l-wrapper">
    <article class="c-information-article">
      <div class="c-information-article__wrapper">
        <div class="c-information-article__top">
          <div class="c-information-article__information-inner">
            <time datetime="" class="c-information-article__date">2022/05/06</time>
            <div class="c-information-article__category-inner">
              <span class="c-information-article__category-tag">#タグ1</span>
              <span class="c-information-article__category-tag">#タグ2</span>
              <span class="c-information-article__category-tag">#タグ3</span>
              <span class="c-information-article__category-tag">#タグ4</span>
            </div>
          </div>
        </div>
        <div class="c-information-article__middle">
          <div class="c-information-article__question-inner">
            <div class="c-information-article__title-inner">
              <h2 class="c-information-article__title">
                お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。
              </h2>
            </div>
          </div>
        </div>
        <div class="c-information-article__bottom">
          <div class="c-information-article__answer-inner">
            <p
              class="c-information-article__subtitle-answer-inner"
            >
            </p>
            <div class="c-information-article__text">
              <p>
                回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="c-information-article__like-container">
        <div class="c-information-article__button-inner">
          <button class="c-information-article__button">
            <span class="c-information-article__like-number">113</span>
          </button>
          <span class="c-information-article__button-text">参考になった</span>
        </div>
        <div class="c-information-article__button-inner">
          <button class="c-information-article__button">
            <span class="c-information-article__good-icon"></span>
          </button>
          <span class="c-information-article__button-text">いいねする</span>
        </div>
        <div class="c-information-article__button-inner">
          <button class="c-information-article__button">
            <span class="c-information-article__bookmark-icon"></span>
          </button>
          <span class="c-information-article__button-text">ブックマークする</span>
        </div>
      </div>
    </article>
  </div>
</section>
<section class="p-faq-request">
  <div class="p-faq-request__wrapper l-wrapper">
    <h2 class="c-section-title" data-english-title="FAQ REQUEST">
      質問リクエスト
    </h2>
    <p class="c-section-title__subtext">
      テキストが入ります。テキストが入ります。テキストが入ります。
    </p>
    <div class="p-faq-request__container">
      <div class="p-faq-request__title-inner">
        <h3 class="p-faq-request__title">\質問リクエストを投稿しよう/</h3>
      </div>
      <div class="p-faq-request__form-inner">
        <form action="" class="p-faq-request-form">
          <div class="p-faq-request-form__items">
            <label for="" class="p-faq-request-form__text"
              >リクエスト種別</label
            >
            <div class="p-faq-request-form__category-inner">
              <select
                name="request_category"
                id=""
                class="p-faq-request-form__category"
              >
                <option value="" style="display: none">
                  <span class="p-faq-request-form__arrow">カテゴリー</span>
                </option>
                <option value="">テキスト</option>
                <option value="">テキスト</option>
                <option value="">テキスト</option>
                <option value="">テキスト</option>
                <option value="">テキスト</option>
                <option value="">テキスト</option>
              </select>
            </div>
          </div>
          <div class="p-faq-request-form__items">
            <label for="" class="p-faq-request-form__text"
              >メールアドレス</label
            >
            <input
              class="p-faq-request-form__input"
              type="email"
              name="email"
              id="email"
              placeholder="メールアドレスを入力してください。"
            />
          </div>
          <div class="p-faq-request-form__items">
            <label for="" class="p-faq-request-form__text"
              >リクエスト内容</label
            >
            <textarea
              class="p-faq-request-form__input-textarea"
              type="textarea"
              name="request"
              id="request"
              placeholder="質問をご入力してください。"
              clos="1"
              rows="15"
            ></textarea>
          </div>
          <div class="p-faq-request-form__items">
            <button type="submit" class="c-primary-button--fill">
              リクエストを送信する
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
