{% extends 'base.html' %}
{% load static %}
{% block title %}お知らせ一覧{% endblock %}
{% block breadcrumb %}
<li class="l-breadcrumb__item">
  <a href="{% url 'index' %}" class="l-breadcrumb__link">HOME</a>
</li>
<li class="l-breadcrumb__item">
  お知らせ一覧
</li>
{% endblock %}
{% block page-title %}<h1 class="c-page-title" data-english-title="INFORMATION">お知らせ一覧</h1>{% endblock %}
{% block page-subtitle %}テキストが入ります。テキストが入ります。テキストが入ります。{% endblock %}
{% block content %}
<div class="l-section">
	{% include 'information/informationCard.html' %}

	{% comment %} 
	<!--	{% include 'faq/faqCard.html' %}-->
<!--{% include 'search-category.html' %}-->
	{% endcomment %}
</div>
{% endblock %}
