@use '../../../global/' as var;

.c-request-form {
	padding-bottom: 32px;
	margin-top: 44px;
	background-color: #fff;
	border-radius: 20px;

	&__wrapper {
		padding-top: 32px;
	}

	&__title-inner {
		text-align: center;
	}

	&__title {
		font-size: 26px;
		font-weight: 600;

		&::before {
			display: block;
			margin-bottom: 1rem;
			font-size: 16px;
			font-weight: 400;
			color: var.$primary-color;
			content: attr(data-english-title);
		}
	}

	&__container {
		max-width: 993px;
		padding-top: 21px;
		margin-right: auto;
		margin-left: auto;
	}

	&__columns {
		border-top: 3px solid #d3ebe8;

		&:first-child {
			border-top: 0;
		}
	}
}
