{% load static %}
<section class="p-contents-detail">
  <div class="p-contents-detail__wrapper l-wrapper">
    <article class="c-contents-detail">
      <div class="c-contents-detail__wrapper">
        <div class="c-contents-detail__top">
          <div class="c-contents-detail__data-container">
            <span class="c-contents-detail__rank">会員種別：テキスト？</span>
            <time datetime="" class="c-contents-detail__date">2022/05/06</time>
            <div class="c-contents-detail__category-inner">
              <span class="c-contents-detail__category-tag">小カテゴリー1</span>
              <span class="c-contents-detail__category-tag">小カテゴリー1</span>
              <span class="c-contents-detail__category-tag">小カテゴリー1</span>
              <span class="c-contents-detail__category-tag">小カテゴリー1</span>
            </div>
          </div>
        </div>
        <div class="c-contents-detail__middle">
          <div class="c-faq-detail">
            <p
              class="c-faq-detail__subtitle-question-inner"
              data-english-title="Question"
            >
              <span
                class="c-faq-detail__subtitle c-faq-detail__subtitle-question"
                >質問</span
              >
            </p>
            <div class="c-faq-detail__title-inner">
              <h2 class="c-faq-detail__title">
                質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。...
              </h2>
            </div>
          </div>
        </div>
        <div class="c-contents-detail__bottom">
          <div class="c-faq-detail">
            <p
              class="c-faq-detail__subtitle-answer-inner"
              data-english-title="Answer"
            >
              <span class="c-faq-detail__subtitle c-faq-detail__subtitle-answer"
                >回答</span
              >
            </p>
            <div class="c-faq-detail__answer">
              <p>
                回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="c-faq-detail__like-container">
        <div class="c-faq-detail__button-inner">
          <button class="c-faq-detail__button">
            <span class="c-faq-detail__like-number">113</span>
          </button>
          <span class="c-faq-detail__button-text">参考になった</span>
        </div>
        <div class="c-faq-detail__button-inner">
          <button class="c-faq-detail__button">
            <span class="c-faq-detail__good-icon"></span>
          </button>
          <span class="c-faq-detail__button-text">いいねする</span>
        </div>
        <div class="c-faq-detail__button-inner">
          <button class="c-faq-detail__button">
            <span class="c-faq-detail__bookmark-icon"></span>
          </button>
          <span class="c-faq-detail__button-text">ブックマークする</span>
        </div>
      </div>
    </article>
  </div>
</section>
<section class="p-faq-request">
  <div class="p-faq-request__wrapper l-wrapper">
    <h2 class="c-section-title" data-english-title="FAQ REQUEST">
      質問リクエスト
    </h2>
    <p class="c-section-title__subtext">
      テキストが入ります。テキストが入ります。テキストが入ります。
    </p>
    <div class="p-faq-request__container">
      <div class="p-faq-request__title-inner">
        <h3 class="p-faq-request__title">\質問リクエストを投稿しよう/</h3>
      </div>
      <div class="p-faq-request__form-inner">
        <form action="" class="c-faq-request-form">
          <div class="c-faq-request-form__items">
            <label for="" class="c-faq-request-form__text"
              >リクエスト種別</label
            >
            <div class="c-faq-request-form__category-inner">
              <select
                name="request_category"
                id=""
                class="c-faq-request-form__category"
              >
                <option value="" style="display: none">
                  <span class="c-faq-request-form__arrow">カテゴリー</span>
                </option>
                <option value="">テキスト</option>
                <option value="">テキスト</option>
                <option value="">テキスト</option>
                <option value="">テキスト</option>
                <option value="">テキスト</option>
                <option value="">テキスト</option>
              </select>
            </div>
          </div>
          <div class="c-faq-request-form__items">
            <label for="" class="c-faq-request-form__text"
              >メールアドレス</label
            >
            <input
              class="c-faq-request-form__input"
              type="email"
              name="email"
              id="email"
              placeholder="メールアドレスを入力してください。"
            />
          </div>
          <div class="c-faq-request-form__items">
            <label for="" class="c-faq-request-form__text"
              >リクエスト内容</label
            >
            <textarea
              class="c-faq-request-form__input-textarea"
              type="textarea"
              name="request"
              id="request"
              placeholder="質問をご入力してください。"
              clos="1"
              rows="15"
            ></textarea>
          </div>
          <div class="c-faq-request-form__items">
            <button type="submit" class="c-primary-button--fill">
              リクエストを送信する
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
