<section class="p-faq-detail">
	<div class="p-faq-detail__wrapper l-wrapper">
		<article class="c-faq-article">
			<div class="c-faq-article__wrapper">
				<div class="c-faq-article__top">
					<div class="c-faq-article__information-inner">
						<span class="c-faq-article__rank">会員種別：テキスト？</span>
            <time datetime="" class="c-faq-article__date">2022/05/06</time>
						<div class="c-faq-article__category-inner">
							<span class="c-faq-article__category-tag">小カテゴリー1</span>
							<span class="c-faq-article__category-tag">小カテゴリー1</span>
							<span class="c-faq-article__category-tag">小カテゴリー1</span>
							<span class="c-faq-article__category-tag">小カテゴリー1</span>
						</div>
					</div>
				</div>
				<div class="c-faq-article__middle">
					<div class="c-faq-article__question-inner">
						<p class="c-faq-article__subtitle-question-inner"data-english-title="Question"><span class="c-faq-article__subtitle c-faq-article__subtitle-question">質問</span></p>
						<div class="c-faq-article__title-inner">
							<h2 class="c-faq-article__title">質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。...</h2>
						</div>
					</div>
				</div>
				<div class="c-faq-article__bottom">
					<div class="c-faq-article__answer-inner">
						<p class="c-faq-article__subtitle-answer-inner"data-english-title="Answer"><span class="c-faq-article__subtitle c-faq-article__subtitle-answer">回答</span></p>
						<div class="c-faq-article__answer">
							<p>回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="c-faq-article__like-container">
					<div class="c-faq-article__button-inner">
						<div class="c-faq-article__like-button">
							<span class="c-faq-article__like-number"></span>
						</div>
						<span class="c-faq-article__like-text">参考になった</span>
					</div>
					<div class="c-faq-article__button-inner">
						<div class="c-faq-article__like-button">
							<span class="c-faq-article__good-icon"></span>
						</div>
						<span class="c-faq-article__good-text">いいねする</span>
					</div>
					<div class="c-faq-article__button-inner">
						<div class="c-faq-article__like-button">
							<span class="c-faq-article__good-icon"></span>
						</div>
						<span class="c-faq-article__bookmark-text">ブックマークする</span>
					</div>
			</div>
		</article>
	</div>
</section>
<section class="p-faq-request">
	<div class="p-faq-request__wrapper">
			<h2 class="c-section-title" data-english-title="FAQ REQUEST">
      質問リクエスト
    </h2>
	</div>
</section>
