{% load static %}
{% extends 'section.html' %}
{% load static %}

{% block english_title %}
{{ section_title_faq.title }}
{% endblock %}
{% block section_title %}
{{ section_title_faq.title }}
{% endblock %}
{% block section_faq_subtext %}
{{ section_title_contents.sub_text }}
{% endblock %}

{% block card_list %}
{% for faq in faq_list %}
            {% for object in object_list %}
            <div class="p-contents-list__column ">
                <article class="c-post-card">
                    <div class="c-post-card__top">
                        <span class="c-category-tag">{{ object.category.name }}</span>
                        <!--                        <span class="c-post-card__rank">会員種別：テキスト？</span>-->
                        <time datetime="" class="c-post-card__date">{{ object.created_at|date:'Y/n/j' }}</time>
                    </div>
                    <div class="c-post-card__middle">
                        <h3 class="c-post-card__title">
                            <a href="{% url 'faq_detail' pk=object.id %}" class="c-post-card__title-link">
                                {{ object.question }}
                            </a>
                        </h3>
                    </div>
                    <div class="c-post-card__bottom">
                        <div class="c-post-card__tag-container">
                            {% for tags in object.tags.all %}
                            <span class="c-post-card__category-tag">#{{ tags.name }}</span>
                            {% endfor %}
                        </div>
                        <div class="c-post-card__infomation-inner">
                            <a href="{% url 'faq_detail' pk=object.id %}" class="c-post-card__link">回答を読む</a>
                        </div>
                    </div>
                </article>
            </div>
            {% endfor %}
            <div class="p-contents-list__button-inner">
            </div>
            {% include 'archive-navigation.html' %}
        </div>
    </div>
</section>
