<section class="p-category-faq">
  <div class="p-category-faq__wrapper l-wrapper">
    <div class="p-category-faq__container l-container">
      <h2 class="c-section-title" data-english-title="CATEGORY">
        Q&Aカテゴリー
      </h2>
      <p class="c-section-title__subtext">
        テキストが入ります。テキストが入ります。テキストが入ります。
      </p>
			<nav class="p-category-faq__tab-navigation">
				<ul class="p-category-faq__tab-container">
					<li class="p-category-faq__tab-item is-active">FAQ</li>
					<li class="p-category-faq__tab-item">コンテンツ</li>
				</ul>
			</nav>
      <div class="p-category-faq__list">
				<div class="p-category-faq__tab-panel is-show">
					<div class="c-category-card">
          <div class="c-category-card__wrapper">
            <div class="c-category-card__firstlayer">
              <h3 class="c-category-card__title">
                <a href="" class="c-category-card__firstlayer-link">
                  大カテゴリー
                </a>
              </h3>
            </div>
            <div class="c-category-card__secondlayer">
              <ul class="c-category-card__container">
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="c-category-card">
          <div class="c-category-card__wrapper">
            <div class="c-category-card__firstlayer">
              <h3 class="c-category-card__title">
                <a href="" class="c-category-card__firstlayer-link">
                  大カテゴリー
                </a>
              </h3>
            </div>
            <div class="c-category-card__secondlayer">
              <ul class="c-category-card__container">
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="c-category-card">
          <div class="c-category-card__wrapper">
            <div class="c-category-card__firstlayer">
              <h3 class="c-category-card__title">
                <a href="" class="c-category-card__firstlayer-link">
                  大カテゴリー
                </a>
              </h3>
            </div>
            <div class="c-category-card__secondlayer">
              <ul class="c-category-card__container">
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="c-category-card">
          <div class="c-category-card__wrapper">
            <div class="c-category-card__firstlayer">
              <h3 class="c-category-card__title">
                <a href="" class="c-category-card__firstlayer-link">
                  大カテゴリー
                </a>
              </h3>
            </div>
            <div class="c-category-card__secondlayer">
              <ul class="c-category-card__container">
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="c-category-card">
          <div class="c-category-card__wrapper">
            <div class="c-category-card__firstlayer">
              <h3 class="c-category-card__title">
                <a href="" class="c-category-card__firstlayer-link">
                  大カテゴリー
                </a>
              </h3>
            </div>
            <div class="c-category-card__secondlayer">
              <ul class="c-category-card__container">
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="c-category-card">
          <div class="c-category-card__wrapper">
            <div class="c-category-card__firstlayer">
              <h3 class="c-category-card__title">
                <a href="" class="c-category-card__firstlayer-link">
                  大カテゴリー
                </a>
              </h3>
            </div>
            <div class="c-category-card__secondlayer">
              <ul class="c-category-card__container">
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
                <li class="c-category-card__item">
                  <a href="" class="c-category-card__secondlayer-link"
                    >小カテゴリー</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
				</div>
				<div class="p-category-faq__tab-panel">
					<p>コンテンツたぶ🙆‍♂️</p>
				</div>
      </div>
    </div>
  </div>
</section>
