{% extends 'base.html' %}
{% load static %}
{% block title %}コメント詳細{% endblock %}
{% block breadcrumb %}
<li class="l-breadcrumb__item">
  <a href="" class="l-breadcrumb__link">HOME</a>
</li>
<li class="l-breadcrumb__item">
  <a href="" class="l-breadcrumb__link">記事タイトル</a>
</li>
<li class="l-breadcrumb__item">
  コメントタイトル
</li>
{% endblock %}
{% block content %}
<section class="p-contents-detail">
  <div class="p-contents-detail__wrapper l-wrapper">
{% include 'contents/comment/commentArticle.html' %} 
  </div>
</section>
<!-- {% include 'keywordSearch.html' %} -->
{% endblock %}
