@charset "UTF-8";
/*
  Reset
-----------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=submit] {
  appearance: none;
}

button {
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

*,
:before,
:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  text-size-adjust: 100%;
  font-family: "Arial", "Hiragino Sans", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
}

body {
  height: 100%;
  color: #323232;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pkna";
  background-color: #fff;
  font-family: "Arial", "Hiragino Sans", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
  font-weight: normal;
}
body.is-drawerActive {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

p:lang(en) {
  text-transform: uppercase;
}

.l-wrapper {
  width: 1200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.l-container {
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
}

.l-header {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
.l-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}
.l-header__title-link {
  display: block;
  height: 100%;
}
.l-header__logo-inner {
  display: inline-block;
  height: 100%;
}
.l-header__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.l-header-nav__container {
  display: flex;
  align-items: center;
}
.l-header-nav__item {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 26px;
}
.l-header-nav__item:nth-last-child(2) {
  margin-right: 0;
}
.l-header-nav__item:last-child {
  margin-right: 0;
  margin-left: 32px;
}
.l-header-nav__link {
  font-weight: 300;
  font-size: 18px;
  font-size: 1.125rem;
  color: #323232;
  line-height: 1.2;
}
.l-header-nav .c-button {
  padding: 16px 21px;
  background: #0c3898;
  border-radius: 6px;
  color: #ffffff;
  font-size: 21px;
  font-size: 1.3125rem;
}

.l-footer {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
.l-footer__wrapper {
  padding-top: 29px;
}
.l-footer__container {
  display: flex;
  width: 100%;
}
.l-footer__title-link {
  display: block;
  height: 100%;
}
.l-footer__logo-inner {
  display: inline-block;
  height: 100%;
}
.l-footer__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.l-footer__column {
  margin-right: 25px;
}
.l-footer__column:first-child {
  margin-right: 64px;
}
.l-footer__column:last-child {
  margin-left: auto;
  margin-top: 69px;
}
.l-footer__item {
  margin-bottom: 14px;
}
.l-footer__link {
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
  color: #323232;
  line-height: 1.2;
  letter-spacing: 0.0145455em;
}
.l-footer__link:hover {
  opacity: 0.5;
}
.l-footer__button-inner {
  text-align: center;
}
.l-footer__bottom {
  margin-top: 43px;
}

.l-main {
  margin-top: 27px;
}

.l-breadcrumb__container {
  display: flex;
  align-items: center;
}
.l-breadcrumb__item {
  color: #323232;
  margin-right: 14px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
}
.l-breadcrumb__item:first-child::before {
  content: url("/static/assets/images/home.svg");
  margin-right: 5px;
}
.l-breadcrumb__item::after {
  content: ">";
  color: #0c3898;
  margin-left: 14px;
}
.l-breadcrumb__item:last-child:after {
  content: "";
  margin-left: 0;
}
.l-breadcrumb__link {
  font-size: 17px;
  font-size: 1.0625rem;
  color: #0c3898;
  font-weight: 400;
}
.l-breadcrumb__link:hover {
  opacity: 0.5;
  text-decoration-line: underline;
}

.l-page-first {
  margin-top: 56px;
}
.l-page-first__wrapper {
  background: #ffffff;
  text-align: center;
}

.l-request {
  margin-top: 61px;
  background: #F7FAFF;
}
.l-request__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}
.l-request__container {
  background: #fff;
  border-radius: 16px;
  padding-top: 59px;
  padding-bottom: 79px;
}
.l-request__text {
  font-weight: 500;
  font-size: 20px;
  color: #0C3898;
  text-align: center;
}
.l-request__button-inner {
  margin-top: 40px;
  text-align: center;
}

.c-page-title {
  position: relative;
  display: inline;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.0145455em;
}
.c-page-title::after {
  content: "";
  width: 110px;
  height: 1px;
  display: inline-block;
  background-color: #0c3898;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 55px);
}
.c-page-title__sub {
  margin-top: 29px;
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
}

.c-section-title {
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: 600;
  letter-spacing: 0.0145455em;
  position: relative;
}
.c-section-title:before {
  content: attr(data-english-title);
  display: block;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.0145455em;
  color: #0c3898;
  margin-bottom: 13px;
}
.c-section-title:after {
  content: "";
  width: 215px;
  height: 1px;
  display: inline-block;
  background-color: #0c3898;
  position: absolute;
  left: -23%;
  top: 71%;
}
.c-section-title__subtext {
  margin-top: 16px;
}

.c-faq-card {
  background: #FFFFFF;
  border: 1px solid #D9E7FF;
  border-radius: 19px;
  padding: 25px;
}
.c-faq-card__top {
  display: flex;
}
.c-faq-card__title-q {
  font-size: 38px;
  color: #C6C6C6;
  margin-right: 14px;
}
.c-faq-card__title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}
.c-faq-card__title:before {
  content: attr(data-faq-title);
  display: inline;
}
.c-faq-card__title-link {
  color: #323232;
}
.c-faq-card__middle {
  margin-top: 8px;
  margin-left: 44px;
}
.c-faq-card__category-tag {
  font-weight: 300;
  font-size: 14px;
  color: #0C3898;
  border: 1px solid #F7FAFF;
  background: #F7FAFF;
  border-radius: 5px;
  padding: 4px 8px;
  margin-right: 8px;
}
.c-faq-card__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  align-items: baseline;
}
.c-faq-card__like-number {
  font-weight: 700;
  font-size: 28px;
  font-family: "Arial";
  color: #0C3898;
}
.c-faq-card__like-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #323232;
  margin-right: 18px;
}
.c-faq-card__like img {
  width: 89%;
}
.c-faq-card__rank {
  font-weight: 300;
  font-size: 14px;
  color: #323232;
  margin-right: 10px;
}
.c-faq-card__date {
  font-weight: 300;
  font-size: 14px;
  color: #323232;
  margin-right: 32px;
}
.c-faq-card__link {
  font-weight: 600;
  font-size: 14px;
  color: #0C3898;
}
.c-faq-card__link::after {
  content: url("/assets/images/link-arrow.svg");
  display: inline-block;
  vertical-align: text-top;
  margin-left: 10px;
}

.c-primary-button {
  font-weight: 500;
  font-size: 21px;
  padding: 12px 60px;
  background: #FFFFFF;
  border: 1px solid #0C3898;
  border-radius: 6px;
  color: #0C3898;
}
.c-primary-button--fill {
  background: #0C3898;
  color: #fff;
  font-weight: 600;
  font-size: 21px;
  padding: 20px 45px;
  border-radius: 6px;
}
.c-primary-button--fill:before {
  content: url(/static/assets/images/mail.svg);
  display: inline-block;
  vertical-align: middle;
  margin-right: 17px;
}

.c-repetition_keywords {
  margin-top: 20px;
}
.c-repetition_keywords__title {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 20px;
}
.c-repetition_keywords__item {
  display: inline-block;
  margin-right: 12px;
  margin-top: 18px;
  width: auto;
}
.c-repetition_keywords__link {
  text-align: center;
  padding: 7px 19px;
  border: 1px solid #0c3898;
  border-radius: 50px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
  color: #0c3898;
  line-height: 1.5;
  background: #ffffff;
}

.c-category-card {
  background: #FFFFFF;
  margin-bottom: 16px;
  border: 1px solid #D9E7FF;
  border-radius: 19px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.c-category-card:last-child:after {
  content: "";
  margin-bottom: 0;
}
.c-category-card__wrapper {
  max-width: 810px;
  margin: 0 auto;
}
.c-category-card__title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  border-bottom: solid #000000;
  border-image: linear-gradient(to right bottom, #000000, #C4C4C4);
  border-image-slice: 1;
  border-image-width: 0 0 1px 0;
}
.c-category-card__firstlayer-link {
  line-height: 1.5;
  font-size: 21px;
  font-size: 1.3125rem;
  color: #0c3898;
}
.c-category-card__secondlayer {
  color: #323232;
  margin-right: 14px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
}
.c-category-card__container {
  margin-top: 16px;
}
.c-category-card__item {
  display: inline-block;
  margin-top: 14px;
  margin-left: 14px;
  width: auto;
}
.c-category-card__item::after {
  content: ">";
  color: #0c3898;
  margin-left: 14px;
}
.c-category-card__item:last-child:after {
  content: "";
  margin-left: 0;
}
.c-category-card__secondlayer-link {
  font-size: 17px;
  font-size: 1.0625rem;
}

.c-copyright__container {
  padding-bottom: 12px;
}
.c-copyright__text {
  font-size: 14px;
  font-size: 0.875rem;
}

.p-keyword-search {
  background: #F1F5F9;
  margin-top: 56px;
  padding: 56px 0;
  overflow: hidden;
}
.p-pickup-faq {
  margin-top: 22px;
}
.p-pickup-faq__container {
  margin-top: 21px;
  padding-top: 30px;
  border-top: 1px solid #0c3898;
  padding-left: 12px;
  padding-right: 12px;
}
.p-pickup-faq__column {
  margin-bottom: 21px;
}
.p-pickup-faq__column:last-child {
  margin-bottom: 0px;
}
.p-pickup-faq__button-inner {
  margin-top: 61px;
  text-align: center;
}

.p-category-faq {
  margin-top: 56px;
  padding-top: 31px;
  background: #F1F5F9;
}
.p-category-faq__list {
  margin-top: 12px;
  padding-top: 36px;
  padding-bottom: 72px;
  border-top: 1px solid #0c3898;
}
.p-category-faq__column {
  margin-bottom: 21px;
}
.p-category-faq__column:last-child {
  margin-bottom: 0px;
}
