@charset "UTF-8";
/*
  Reset
----------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input,
button,
select,
textarea {
  font: inherit;
  background: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  appearance: none;
  appearance: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

*,
::before,
::after {
  box-sizing: inherit;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-family: "Arial", "Hiragino Sans", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
}

body {
  height: 100%;
  font-family: "Arial", "Hiragino Sans", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
  font-weight: normal;
  font-feature-settings: "pkna";
  color: #323232;
  background-color: #fff;
  text-rendering: optimizelegibility;
}
body.is-drawerActive {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

p:lang(en) {
  text-transform: uppercase;
}

.l-wrapper {
  width: 1200px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.l-section {
  margin-top: 56px;
}
.l-section section:nth-of-type(odd) {
  background-color: #f1f5f9;
}

.l-container {
  max-width: 992px;
  margin-right: auto;
  margin-left: auto;
}

.l-header {
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.l-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
}
.l-header__title-link {
  display: block;
  height: 100%;
}
.l-header__logo-inner {
  display: inline-block;
  height: 100%;
}
.l-header__logo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-header-nav__container {
  display: flex;
  align-items: center;
}
.l-header-nav__item {
  display: flex;
  align-items: center;
  margin-right: 26px;
  text-align: center;
}
.l-header-nav__item:nth-last-child(2) {
  margin-right: 0;
}
.l-header-nav__item:last-child {
  margin-right: 0;
  margin-left: 32px;
}
.l-header-nav__link {
  font-weight: 300;
  line-height: 1.2;
  color: #323232;
  font-size: 18px;
  font-size: 1.125rem;
}
.l-header-nav .c-button {
  padding: 16px 21px;
  color: #fff;
  background: #0c3898;
  border-radius: 6px;
  font-size: 21px;
  font-size: 1.3125rem;
}

.l-footer {
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.l-footer__wrapper {
  padding-top: 29px;
}
.l-footer__container {
  display: flex;
  width: 100%;
}
.l-footer__title-link {
  display: block;
  height: 100%;
}
.l-footer__logo-inner {
  display: inline-block;
  height: 100%;
}
.l-footer__logo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.l-footer__column {
  margin-right: 25px;
}
.l-footer__column:first-child {
  margin-right: 64px;
}
.l-footer__column:last-child {
  margin-top: 69px;
  margin-left: auto;
}
.l-footer__item {
  margin-bottom: 14px;
}
.l-footer__link {
  font-weight: 300;
  line-height: 1.2;
  color: #323232;
  letter-spacing: 0.0145455em;
  font-size: 16px;
  font-size: 1rem;
}
.l-footer__link:hover {
  opacity: 0.5;
}
.l-footer__button-inner {
  text-align: center;
}
.l-footer__bottom {
  margin-top: 43px;
}

.l-main {
  margin-top: 27px;
  overflow: hidden;
}

.l-breadcrumb__container {
  display: flex;
  align-items: center;
}
.l-breadcrumb__item {
  margin-right: 14px;
  font-weight: 300;
  color: #323232;
  font-size: 16px;
  font-size: 1rem;
}
.l-breadcrumb__item:first-child::before {
  margin-right: 5px;
  content: url("/static/assets/images/home.svg");
}
.l-breadcrumb__item::after {
  margin-left: 14px;
  color: #0c3898;
  content: ">";
}
.l-breadcrumb__item:last-child::after {
  margin-left: 0;
  content: "";
}
.l-breadcrumb__link {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 400;
  color: #0c3898;
}
.l-breadcrumb__link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  opacity: 0.5;
}

.l-page-first {
  margin-top: 56px;
}
.l-page-first__wrapper {
  text-align: center;
  background: #fff;
}

.l-request {
  margin-top: 61px;
  background: #f7faff;
}
.l-request__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}
.l-request__container {
  padding-top: 59px;
  padding-bottom: 79px;
  background: #fff;
  border-radius: 16px;
}
.l-request__text {
  font-size: 20px;
  font-weight: 500;
  color: #0c3898;
  text-align: center;
}
.l-request__button-inner {
  margin-top: 40px;
  text-align: center;
}

.c-page-title {
  position: relative;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.0145455em;
}
.c-page-title::before {
  position: absolute;
  right: -20%;
  bottom: -160px;
  font-family: Arial;
  font-size: 170px;
  font-weight: 700;
  color: rgba(12, 56, 152, 0.05);
  letter-spacing: -0.0655em;
  content: attr(data-english-title);
}
.c-page-title::after {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 55px);
  display: inline-block;
  width: 110px;
  height: 1px;
  content: "";
  background-color: #0c3898;
}
.c-page-title__sub {
  margin-top: 29px;
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
}

.c-search-form {
  display: flex;
  align-items: center;
}
.c-search-form__keyword {
  width: 100%;
  padding: 20px;
  background: #fff;
  border: 2px solid transparent;
  border-radius: 12px;
}
.c-search-form__keyword::-moz-placeholder {
  font-size: 20px;
  color: #c9c9c9;
}
.c-search-form__keyword::placeholder {
  font-size: 20px;
  color: #c9c9c9;
}
.c-search-form__keyword:focus {
  border: 2px solid #0c3898;
  outline: 0;
}
.c-search-form__submit-inner {
  display: inline-block;
  margin-left: 19px;
  vertical-align: middle;
}
.c-search-form__submit {
  padding: 10px;
  background: #0c3898;
  border-radius: 12px;
}
.c-search-form__submit:focus {
  border: 2px solid #ee7c00;
  outline: 0;
}

.c-section-title {
  font-size: 26px;
  font-size: 1.625rem;
  position: relative;
  font-weight: 600;
  letter-spacing: 0.0145455em;
}
.c-section-title::before {
  display: block;
  margin-bottom: 13px;
  font-weight: 400;
  color: #0c3898;
  letter-spacing: 0.0145455em;
  content: attr(data-english-title);
  font-size: 16px;
  font-size: 1rem;
}
.c-section-title::after {
  position: absolute;
  top: 71%;
  left: -73%;
  display: inline-block;
  width: 715px;
  height: 1px;
  content: "";
  background-color: #0c3898;
}
.c-section-title__subtext {
  margin-top: 16px;
}

.c-post-card {
  padding: 25px;
  background: #fff;
  border: 1px solid #d9e7ff;
  border-radius: 19px;
}
.c-post-card__title {
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 14px;
  font-weight: 600;
  line-height: 1.5;
}
.c-post-card__title::before {
  display: inline;
  content: attr(data-faq-title);
}
.c-post-card__title-link {
  color: #323232;
}
.c-post-card__bottom {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 24px;
}
.c-post-card__rank {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #323232;
}
.c-post-card__date {
  margin-right: 32px;
  font-size: 14px;
  font-weight: 300;
  color: #323232;
}
.c-post-card__category-tag {
  padding: 4px 8px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 300;
  color: #0c3898;
  background: #f7faff;
  border: 1px solid #f7faff;
  border-radius: 5px;
}
.c-post-card__link {
  font-size: 14px;
  font-weight: 600;
  color: #0c3898;
}
.c-post-card__link::after {
  display: inline-block;
  margin-left: 10px;
  vertical-align: text-top;
  content: url(/static/assets/images/link-arrow.svg);
}

.c-contents-card {
  padding: 25px;
  background: #fff;
  border: 1px solid #d9e7ff;
  border-radius: 19px;
}
.c-contents-card__title {
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 14px;
  font-weight: 600;
  line-height: 1.5;
}
.c-contents-card__title::before {
  display: inline;
  content: attr(data-faq-title);
}
.c-contents-card__title-link {
  color: #323232;
}
.c-contents-card__middle {
  margin-top: 8px;
}
.c-contents-card__category-tag {
  padding: 4px 8px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 300;
  color: #0c3898;
  background: #f7faff;
  border: 1px solid #f7faff;
  border-radius: 5px;
}
.c-contents-card__bottom {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 24px;
}
.c-contents-card__like-number {
  font-family: Arial;
  font-size: 28px;
  font-weight: 700;
  color: #0c3898;
}
.c-contents-card__like-text {
  margin-right: 18px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  color: #323232;
}
.c-contents-card__like {
  vertical-align: sub;
}
.c-contents-card__like img {
  width: 89%;
}
.c-contents-card__rank {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #323232;
}
.c-contents-card__date {
  margin-right: 32px;
  font-size: 14px;
  font-weight: 300;
  color: #323232;
}
.c-contents-card__link {
  font-size: 14px;
  font-weight: 600;
  color: #0c3898;
}
.c-contents-card__link::after {
  display: inline-block;
  margin-left: 10px;
  vertical-align: text-top;
  content: url(/static/assets/images/link-arrow.svg);
}

.c-comments-card {
  padding-top: 21px;
  padding-bottom: 21px;
}
.c-comments-card__top {
  display: flex;
  align-items: center;
}
.c-comments-card__icon-inner {
  width: 66px;
  height: auto;
  margin-right: 16px;
}
.c-comments-card__icon {
  width: 100%;
  height: 100%;
}
.c-comments-card__name {
  font-size: 16px;
  font-weight: 300;
}
.c-comments-card__date {
  display: block;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 300;
}
.c-comments-card__middle {
  padding-left: 82px;
  margin-top: 21px;
}
.c-comments-card__contents {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.0145455em;
}
.c-comments-card__bottom {
  padding-left: 82px;
  margin-top: 21px;
}
.c-comments-card__link {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: #0c3898;
}
.c-comments-card__link::after {
  position: absolute;
  top: 1px;
  right: -20px;
  content: url(/static/assets/images/link-arrow.svg);
}

.c-tab-navigation {
  margin-top: 30px;
}
.c-tab-navigation__navigation {
  margin-top: 12px;
}
.c-tab-navigation__container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0c3898;
}
.c-tab-navigation__item {
  padding: 8px 16px;
  margin-right: 12px;
  font-weight: bold;
  color: #0c3898;
  text-align: center;
  list-style: none;
  cursor: pointer;
  border: solid 1px #0c3898;
  border-radius: 5px 5px 0 0;
  margin-bottom: -1px;
}
.c-tab-navigation__item.is-active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  transition: all 0.2s ease-out;
}
.c-tab-navigation__tab-panel {
  display: none;
}
.c-tab-navigation__tab-panel.is-show {
  display: block;
}
.c-tab-navigation__list {
  padding-top: 36px;
  padding-bottom: 72px;
  margin-top: -1px;
  border-top: 1px solid #0c3898;
}
.c-tab-navigation__column {
  margin-bottom: 21px;
}
.c-tab-navigation__column:last-child {
  margin-bottom: 0;
}

.p-contents-detail {
  padding-top: 56px;
  padding-bottom: 56px;
  margin-top: 29px;
  background: #f7faff;
}
.c-contents-detail__wrapper {
  padding: 48px 103px;
  background: #fff;
  border-radius: 19px;
  box-shadow: 0 0 10px #d9e7ff;
}
.c-contents-detail__wrapper--no-shadow {
  padding: 48px 103px;
  background: #fff;
  border-radius: 19px;
}
.c-contents-detail__data-container {
  display: flex;
  align-items: center;
}
.c-contents-detail__rank {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #323232;
  letter-spacing: 0.0145455em;
}
.c-contents-detail__date {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #323232;
  letter-spacing: 0.0145455em;
}
.c-contents-detail__category-inner {
  display: flex;
  align-items: center;
}
.c-contents-detail__category-tag {
  padding: 4px 8px;
  margin-right: 16px;
  font-size: 14px;
  font-weight: 300;
  color: #0c3898;
  letter-spacing: 0.0145455em;
  background: #f7faff;
  border: 1px solid #f7faff;
  border-radius: 5px;
}
.c-contents-detail__middle {
  margin-top: 8px;
}
.c-contents-detail__subtitle-question-inner {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #0c3898;
}
.c-contents-detail__subtitle-question-inner::after {
  font-size: 70px;
  font-weight: 700;
  color: rgba(12, 56, 152, 0.05);
  content: attr(data-english-title);
}
.c-contents-detail__subtitle-answer-inner {
  padding-bottom: 0.5rem;
}
.c-contents-detail__subtitle-answer-inner::after {
  font-size: 70px;
  font-weight: 700;
  color: #fef8f7;
  content: attr(data-english-title);
}
.c-contents-detail__subtitle {
  display: inline;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
}
.c-contents-detail__subtitle-question {
  background: #0c3898;
}
.c-contents-detail__subtitle-answer {
  background: #f1795e;
}
.c-contents-detail__title-inner {
  padding-bottom: 16px;
  margin-top: 23px;
  border-bottom: 1px solid #0c3898;
}
.c-contents-detail__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.3;
  color: #323232;
  letter-spacing: 0.0145455em;
}
.c-contents-detail__bottom {
  margin-top: 8px;
}
.c-contents-detail__contents {
  font-size: 21px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.0145455em;
  color: #323232;
}
.c-contents-detail__answer {
  padding: 21px 27px;
  background: #fef8f7;
  border-radius: 19px;
}
.c-contents-detail__answer p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  color: #323232;
}
.c-contents-detail__like-container {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
.c-contents-detail__button-inner {
  margin-right: 58px;
  text-align: center;
}
.c-contents-detail__button {
  position: relative;
  display: block;
  width: 85px;
  height: 85px;
  margin-right: auto;
  margin-bottom: 12px;
  margin-left: auto;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 0 10px #d9e7ff;
}
.c-contents-detail__button-text {
  font-size: 14px;
  font-weight: 600;
  color: #323232;
}
.c-contents-detail__like-number {
  position: absolute;
  top: 34%;
  left: 19%;
  font-size: 31px;
  font-weight: 700;
  color: #0c3898;
}
.c-contents-detail__good-icon {
  content: url(/static/assets/images/good.svg);
}
.c-contents-detail__bookmark-icon {
  content: url(/static/assets/images/bookmark-pin.svg);
}

.c-faq-detail__subtitle-question-inner {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #0c3898;
}
.c-faq-detail__subtitle-question-inner::after {
  font-size: 70px;
  font-weight: 700;
  color: rgba(12, 56, 152, 0.05);
  content: attr(data-english-title);
}
.c-faq-detail__subtitle-answer-inner {
  padding-bottom: 0.5rem;
}
.c-faq-detail__subtitle-answer-inner::after {
  font-size: 70px;
  font-weight: 700;
  color: #fef8f7;
  content: attr(data-english-title);
}
.c-faq-detail__subtitle {
  display: inline;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
}
.c-faq-detail__subtitle-question {
  background: #0c3898;
}
.c-faq-detail__subtitle-answer {
  background: #f1795e;
}
.c-faq-detail__title-inner {
  margin-top: 23px;
}
.c-faq-detail__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.3;
  color: #0c3898;
  letter-spacing: 0.0145455em;
}
.c-faq-detail__answer {
  padding: 21px 27px;
  background: #fef8f7;
  border-radius: 19px;
}
.c-faq-detail__answer p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  color: #323232;
}
.c-faq-detail__like-container {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
.c-faq-detail__button-inner {
  margin-right: 58px;
  text-align: center;
}
.c-faq-detail__button {
  position: relative;
  display: block;
  width: 85px;
  height: 85px;
  margin-right: auto;
  margin-bottom: 12px;
  margin-left: auto;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 0 10px #d9e7ff;
}
.c-faq-detail__button-text {
  font-size: 14px;
  font-weight: 600;
  color: #323232;
}
.c-faq-detail__like-number {
  position: absolute;
  top: 34%;
  left: 19%;
  font-size: 31px;
  font-weight: 700;
  color: #0c3898;
}
.c-faq-detail__good-icon {
  content: url(/static/assets/images/good.svg);
}
.c-faq-detail__bookmark-icon {
  content: url(/static/assets/images/bookmark-pin.svg);
}

.c-category-tag {
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.0145455em;
  background: #0c3898;
  border-radius: 5px;
}

.c-archive-pagination {
  display: flex;
  justify-content: center;
}
.c-archive-pagination__item {
  margin-right: 14px;
}
.c-archive-pagination__item:last-child {
  margin-right: 0;
}
.c-archive-pagination__item:not(:first-of-type):not(:last-of-type) .c-archive-pagination__link:hover {
  color: #fff;
  background-color: #0c3898;
  border-radius: 6px;
}
.c-archive-pagination__link {
  display: block;
  padding: 17px 20px;
  font-size: 21px;
  font-weight: 700;
  color: #0c3898;
}
.c-archive-pagination__link[aria-current=page] {
  color: #fff;
  background-color: #0c3898;
  border-radius: 6px;
}
.c-archive-pagination__text {
  position: relative;
  font-size: 21px;
  font-weight: 600;
  color: #0c3898;
}
.c-archive-pagination .previous::before {
  position: absolute;
  top: 3px;
  left: -20px;
  content: url(/static/assets/images/link-arrow.svg);
  transform: rotate(180deg);
}
.c-archive-pagination .previous:hover {
  opacity: 0.5;
}
.c-archive-pagination .next::after {
  position: absolute;
  top: 3px;
  right: -20px;
  content: url(/static/assets/images/link-arrow.svg);
}
.c-archive-pagination .next:hover {
  opacity: 0.5;
}

.c-primary-button {
  display: inline-block;
  padding: 12px 60px;
  font-size: 21px;
  font-weight: 500;
  color: #0c3898;
  background: #fff;
  border: 1px solid #0c3898;
  border-radius: 6px;
}
.c-primary-button--fill {
  padding: 20px 45px;
  font-size: 21px;
  font-weight: 600;
  color: #fff;
  background: #0c3898;
  border-radius: 6px;
}
.c-primary-button--fill::before {
  display: inline-block;
  margin-right: 17px;
  vertical-align: middle;
  content: url(/static/assets/images/mail.svg);
}

.c-repetition_keywords {
  margin-top: 20px;
}
.c-repetition_keywords__title {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 20px;
  font-weight: 400;
}
.c-repetition_keywords__item {
  display: inline-block;
  width: auto;
  margin-top: 18px;
  margin-right: 12px;
}
.c-repetition_keywords__link {
  padding: 7px 19px;
  font-weight: 300;
  line-height: 1.5;
  color: #0c3898;
  text-align: center;
  text-align: center;
  background: #fff;
  border: 1px solid #0c3898;
  border-radius: 50px;
  font-size: 16px;
  font-size: 1rem;
}
.c-repetition_keywords__link::before {
  display: inline-block;
  margin-right: 5px;
  content: attr(data-hash);
}

.c-category-card {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 16px;
  background: #fff;
  border: 1px solid #d9e7ff;
  border-radius: 19px;
}
.c-category-card:last-child::after {
  margin-bottom: 0;
  content: "";
}
.c-category-card__wrapper {
  max-width: 810px;
  margin: 0 auto;
}
.c-category-card__title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  border-bottom: solid #000;
  -o-border-image: linear-gradient(to right bottom, #000, #c4c4c4);
     border-image: linear-gradient(to right bottom, #000, #c4c4c4);
  border-image-slice: 1;
  border-image-width: 0 0 1px 0;
}
.c-category-card__firstlayer-link {
  line-height: 1.5;
  font-size: 21px;
  font-size: 1.3125rem;
  color: #0c3898;
}
.c-category-card__secondlayer {
  margin-right: 14px;
  font-weight: 300;
  color: #323232;
  font-size: 16px;
  font-size: 1rem;
}
.c-category-card__container {
  margin-top: 16px;
}
.c-category-card__item {
  display: inline-block;
  width: auto;
  margin-top: 14px;
  margin-left: 14px;
}
.c-category-card__item::after {
  margin-left: 14px;
  color: #0c3898;
  content: ">";
}
.c-category-card__item:last-child::after {
  margin-left: 0;
  content: "";
}
.c-category-card__secondlayer-link {
  font-size: 17px;
  font-size: 1.0625rem;
}

.c-copyright__container {
  padding-bottom: 12px;
}
.c-copyright__text {
  font-size: 14px;
  font-size: 0.875rem;
}

.p-keyword-search {
  padding: 56px 0;
  margin-top: 56px;
  overflow: hidden;
  background: #f1f5f9;
}
.p-keyword-search__form-inner {
  margin-top: 16px;
}

.p-search-category {
  padding-top: 28px;
  padding-bottom: 60px;
}
.p-contents-list {
  padding-top: 28px;
}
.p-contents-list__list {
  padding-bottom: 60px;
}
.p-contents-list__container {
  padding-top: 35px;
}
.p-contents-list__column {
  margin-top: 16px;
}
.p-contents-list__button-inner {
  text-align: center;
  margin: 46px 0;
}

.p-contents-detail {
  padding-top: 28px;
}
.p-contents-detail__list {
  padding-bottom: 60px;
}
.p-contents-detail__container {
  padding-top: 35px;
}
.p-contents-detail__column {
  margin-top: 16px;
}
.p-contents-detail__button-inner {
  text-align: center;
  margin: 46px 0;
}

.p-archive-pagination {
  padding: 57px 0;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}
.p-archive-pagination__wrapper {
  padding-top: 0.5em;
  margin-top: 1rem;
}

.p-faq-request {
  padding-top: 130px;
  background: #f7faff;
}
.p-faq-request__wrapper {
  padding: 69px;
}
.p-faq-request__container {
  padding: 48px 103px;
  margin-top: 27px;
  background: #fff;
  border-radius: 19px;
  box-shadow: 0 0 10px #d9e7ff;
}
.p-faq-request__title-inner {
  text-align: center;
}
.p-faq-request__title {
  font-size: 28px;
  font-weight: 700;
  color: #0c3898;
}
.p-faq-request__form-inner {
  margin-top: 40px;
}

.p-faq-request-form__items {
  margin-top: 26px;
}
.p-faq-request-form__items:first-child {
  margin-top: 0;
}
.p-faq-request-form__items:last-child {
  margin-top: 42px;
  text-align: center;
}
.p-faq-request-form__text {
  display: block;
  margin-bottom: 11px;
  font-size: 18px;
  font-weight: 300;
  color: #323232;
}
.p-faq-request-form__category-inner {
  position: relative;
  display: inline;
  margin-top: 11px;
}
.p-faq-request-form__category-inner::after {
  position: absolute;
  top: 28px;
  right: -126px;
  display: inline-block;
  content: url(/static/assets/images/link-arrow.svg);
  transform: rotate(90deg);
}
.p-faq-request-form__category {
  position: relative;
  display: block;
  padding: 11px;
  padding-right: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #0c3898;
  cursor: pointer;
  border: 1px solid #d9e7ff;
  border-radius: 4px;
}
.p-faq-request-form__input {
  width: 100%;
  padding: 21px 18px;
  background: #fff;
  border: 1px solid #d9e7ff;
  border-radius: 6px;
}
.p-faq-request-form__input::-moz-placeholder {
  font-size: 20px;
  color: #c9c9c9;
}
.p-faq-request-form__input::placeholder {
  font-size: 20px;
  color: #c9c9c9;
}
.p-faq-request-form__input-textarea {
  width: 100%;
  padding: 21px 18px;
  background: #fff;
  border: 1px solid #d9e7ff;
  border-radius: 6px;
}
.p-faq-request-form__input-textarea::-moz-placeholder {
  font-size: 20px;
  color: #c9c9c9;
}
.p-faq-request-form__input-textarea::placeholder {
  font-size: 20px;
  color: #c9c9c9;
}

.p-contents-comments {
  padding-bottom: 32px;
  margin-top: 44px;
  background-color: #fff;
  border-radius: 20px;
}
.p-contents-comments__wrapper {
  padding-top: 32px;
}
.p-contents-comments__title-inner {
  text-align: center;
}
.p-contents-comments__title {
  font-size: 26px;
  font-weight: 600;
}
.p-contents-comments__title::before {
  display: block;
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 400;
  color: #0c3898;
  content: attr(data-english-title);
}
.p-contents-comments__container {
  max-width: 993px;
  padding-top: 21px;
  margin-right: auto;
  margin-left: auto;
}
.p-contents-comments__columns {
  border-top: 3px solid #d3ebe8;
}
.p-contents-comments__columns:first-child {
  border-top: 0;
}

.p-contents-comments-form__wrapper {
  max-width: 993px;
  padding-top: 21px;
  margin-right: auto;
  margin-left: auto;
}

.u-screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.mt-1 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.ml-auto {
  margin-left: auto;
}
