@charset "UTF-8";
/*
  Reset
-----------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=submit] {
  appearance: none;
}

button {
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

*,
:before,
:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  text-size-adjust: 100%;
  font-family: "Arial", "Hiragino Sans", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
}

body {
  height: 100%;
  color: #323232;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pkna";
  background-color: #fff;
  font-family: "Arial", "Hiragino Sans", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
  font-weight: normal;
}
body.is-drawerActive {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

p:lang(en) {
  text-transform: uppercase;
}

h1 {
  font-family: "Arial", "Hiragino Sans", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
  font-size: 32px;
  font-weight: 600;
}

h2 {
  font-family: "Arial", "Hiragino Sans", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
  font-size: 25.6px;
  font-weight: 600;
}

.l-header {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
.l-header__wrapper {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}
.l-header__title-link {
  display: block;
  height: 100%;
}
.l-header__logo-inner {
  display: inline-block;
  height: 100%;
}
.l-header__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.l-header-nav__container {
  display: flex;
  align-items: center;
}
.l-header-nav__item {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 26px;
}
.l-header-nav__item:nth-last-child(2) {
  margin-right: 0;
}
.l-header-nav__item:last-child {
  margin-right: 0;
  margin-left: 32px;
}
.l-header-nav__link {
  font-weight: 300;
  font-size: 18px;
  font-size: 1.125rem;
  color: #323232;
  line-height: 1.2;
}
.l-header-nav .c-button {
  padding: 16px 21px;
  background: #0c3898;
  border-radius: 6px;
  color: #ffffff;
  font-size: 21px;
  font-size: 1.3125rem;
}

.l-main {
  margin-top: 27px;
}
.l-main__wrapper {
  width: 1200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
}

.l-main-section {
  background: rgba(12, 56, 152, 0.05);
  height: 418px;
}
.l-main-section::before {
  content: "";
  width: 130px;
  height: 1px;
  display: inline-block;
  background-color: #0c3898;
  position: absolute;
  bottom: 380px;
}
.l-main-section__wrapper {
  position: relative;
  width: 929px;
  margin: auto;
  padding-top: 34px;
}
.l-main-section__subtitle {
  position: relative;
  margin-top: 18px;
  color: #0c3898;
}
.l-main-section__explanation {
  position: relative;
}

.l-main-search {
  width: 946px;
  height: 69px;
}
.l-breadcrumb__container {
  display: flex;
  align-items: center;
}
.l-breadcrumb__item {
  color: #323232;
  margin-right: 14px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
}
.l-breadcrumb__item:first-child::before {
  content: url("/assets/images/home.svg");
  margin-right: 5px;
}
.l-breadcrumb__item::after {
  content: ">";
  color: #0c3898;
  margin-left: 14px;
}
.l-breadcrumb__item:last-child:after {
  content: "";
  margin-left: 0;
}
.l-breadcrumb__link {
  font-size: 17px;
  font-size: 1.0625rem;
  color: #0c3898;
  font-weight: 400;
}
.l-breadcrumb__link:hover {
  opacity: 0.5;
  text-decoration-line: underline;
}

.l-page-first {
  margin-top: 56px;
}
.l-page-first__wrapper {
  text-align: center;
}

.c-page-title {
  position: relative;
  display: inline;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.0145455em;
}
.c-page-title::after {
  content: "";
  width: 110px;
  height: 1px;
  display: inline-block;
  background-color: #0c3898;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 55px);
}
.c-page-title__sub {
  margin-top: 29px;
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
}
