@use '../global/' as var;

.l-header {
	width: 100%;
	background: var.$white;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

	&__wrapper {
		width: 1200px;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 22px 0;
	}

	&__title-link {
		display: block;
		height: 100%;
	}

	&__logo-inner {
		display: inline-block;
		height: 100%;
	}

	&__logo {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.l-header-nav {
	&__container {
		display: flex;
		align-items: center;
	}

	&__item {
		display: flex;
		align-items: center;
		text-align: center;
		margin-right: 26px;

		&:nth-last-child(2) {
			margin-right: 0;
		}

		&:last-child {
			margin-right: 0;
			margin-left: 32px;
		}
	}

	&__link {
		font-weight: 300;
		@include var.font-size(18);
		color: var.$base-text-color;
		line-height: 1.2;
	}

	.c-button {
		padding: 16px 21px;
		background: var.$primary-color;
		border-radius: 6px;
		color: var.$white;
		@include var.font-size(21);
	}
}
