@use '../global/' as var;

.l-main {
  position: relative;
  width: 100%;
  height: 100%;
  top: 18px;
  left: 16px;
  right: 16px;

  &__wrapper {
    width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: var.$white;
  }
}

.l-main-breadcrumb {
  &__item {
    display: inline;
  }
  &__link {
    color: var.$base-text-color;
    text-decoration: none;
    flex: none;
    order: 0;
    flex-grow: 0;
    
  }
}

.l-main-title{
  text-align: center;
  position: relative;
  display: block;
  top: 18px;
  &::after {
    content: '';
    width: 110px;
    height: 2px;
    display: inline-block;
    background-color: var.$primary-color;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 55px)
  }
  
}
.l-main-subtitle{
  position: relative;
  text-align: center;
  font-size: var.$base-font-size;
  bottom: -50px;
}