@use '../global/' as var;

.l-main {
	// position: relative;
	width: 100%;
	height: 100%;
	margin: 18px 16px 0px;

	&__wrapper {
		width: 1200px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		background: var.$white;
	}
}


.l-main-title {
	height: 104px;
	margin-top: 18px;
	text-align: center;

	&__main {
		position: relative;

		&::after {
			content: '';
			width: 110px;
			height: 1px;
			display: inline-block;
			background-color: var.$primary-color;
			position: absolute;
			bottom: -10px;
			left: calc(50% - 55px)
		}
	}

	&__sub {
		position: relative;
		top: 24px;
	}
}

.l-main-section {
	background: var.$secondary-color;
	height: 418px;

	&::before {
		content: '';
		width: 130px;
		height: 1px;
		display: inline-block;
		background-color: var.$primary-color;
		position: absolute;
		bottom: 380px;
	}

	&__wrapper {
		position: relative;
		width: 929px;
		margin: auto;
		padding-top: 34px;
	}

	&__subtitle {
		position: relative;
		margin-top: 18px;
		color: var.$primary-color;
	}

	&__explanation {
		position: relative;
	}
}

.l-main-search {
	width: 946px;
	height: 69px;

	&__input {}

	&__button {}
}
