@use '../global/' as var;

.l-repetition_keywords {
	margin-top: 20px;

	&__title {
		@include var.font-size(18);
		font-weight: 400;
		margin-top: 20px;
	}

	&__item {
		display: inline-block;

		margin-right: 12px;
		margin-top: 18px;

		width: auto;
	}

	&__link {
		text-align: center;
		padding: 7px 19px;
		border: 1px solid var.$primary-color;
		border-radius: 50px;
		text-align: center;
		font-weight: 300;
		@include var.font-size(16);
		color: var.$primary-color;
		line-height: 1.5;
		background: var.$white;
	}
}
