@use '../global/' as var;

.l-repetition_keywords{
    margin-top: 20px;

    &__title {
        @include var.font-size(18);
        font-weight: 400;
        margin-top: 20px;
    }
    &__item {
        display: inline-block;
		text-align: center;
        margin-right: 26px;
        margin-top: 18px;

        border: 1px solid var.$primary-color;
        border-radius: 50px;
        padding: 4px 16px;
        background: var.$white;
        width: auto;
        height: 36px;
    }
    &__link {
        font-weight: 300;
		@include var.font-size(18);
		color: var.$primary-color;
		line-height: 1.5;
    }   
}