@use '../../global/' as var;

.p-keyword-search {
	background: var.$bg-secondary-color;
	margin-top: 56px;
	padding: 56px 0;
	overflow: hidden;

	&__wrapper {}

}


// .l-main-search {
// 	width: 946px;
// 	height: 69px;

// 	&__input {}

// 	&__button {}
// }
