@use '../../global/' as var;

.p-archive-pagination {
padding: 57px 0;
	background-color: #fff!important;
	margin: 0 calc(50% - 50vw);
	width: 100vw;
  &__wrapper {
    padding-top: 0.5em;
    margin-top: 1rem;
  }
}
