@use '../../global' as var;

.p-pickup-faq {
	padding-top: 28px;

  &__background {
    width: 100vw;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
    background: #f7faff;
  }

  &__container {
    width: 1200px;
    height: 100%;
    margin-top: 21px;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px solid var.$primary-color;
		padding-bottom: 60px;
  }

}
