@use '../../global' as var;

.p-pickup-faq {
	margin-top: 22px;

	&__wrapper {}

	&__container {
		margin-top: 21px;
		padding-top: 30px;
		border-top: 1px solid var.$primary-color;
		padding-left: 12px;
		padding-right: 12px;
		position: relative;

		&::before {
			content: '';
			background: #F7FAFF;
			position: absolute;
			z-index: -1;
			width: 100vw;
			margin-left: calc(50% - 50vw);
			margin-right: calc(50% - 50vw);
			height: 100%;
		}
	}

	&__column {
		margin-bottom: 21px;

		&:first-child {
			margin-top: 36px;
		}

		&:last-child {
			margin-bottom: 0px;
		}
	}

	&__button-inner {
		margin-top: 61px;
		text-align: center;
	}
}
