@use '../../global/' as var;

.p-information {
  margin-top: 56px;
  overflow: hidden;

  &__wrapper {}

  &__container {
    margin-top: 35px;
  }

  &__column {
    width: 100%;
    margin-top: 16px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__button-inner {
		margin: 46px 0;
    text-align: center;
  }
}
