
@use '../../../global'as var;
.p-faq-detail{
	margin-top: 29px;
	background: #F7FAFF;
	padding-top:56px;
	&__wrapper{}

}
.c-faq-article{
	&__wrapper{
			background: #fff;
				border-radius: 19px;
				padding: 48px 103px;
				box-shadow: 0px 0px 10px #D9E7FF;
	}
	&__top{}
	&__information-inner{
		display: flex;
		align-items: center;
	}
	&__rank{
		font-weight: 300;
			font-size: 14px;
			letter-spacing: 0.0145455em;
			color: #323232;
			margin-right: 10px;
	}
	&__date{
			font-weight: 300;
				font-size: 14px;
				letter-spacing: 0.0145455em;
				color: #323232;
				margin-right: 10px;
	}
	&__category-inner{
		display: flex;
		align-items: center;
	}
	&__category-tag{
		background: #F7FAFF;
			border: 1px solid #F7FAFF;
			border-radius: 5px;
		font-weight: 300;
			font-size: 14px;
			letter-spacing: 0.0145455em;
			color: #0C3898;
			padding: 4px 8px;
			margin-right: 16px;
	}
	&__middle{
		margin-top: 8px;
	}
	&__question-inner{}
	&__subtitle-question-inner{
		padding-bottom: .5rem;
			border-bottom: 1px solid #0C3898;
			&:after {
					content: attr(data-english-title);
					font-weight: 700;
					font-size: 70px;
					color: rgba(12, 56, 152, 0.05);
				}
	}
		&__subtitle-answer-inner {
			padding-bottom: .5rem;
		
			&:after {
				content: attr(data-english-title);
				font-weight: 700;
				font-size: 70px;
			color: #FEF8F7;
			}
		}
	&__subtitle{
		display: inline;
		font-weight: 600;
			font-size: 20px;
				border-radius: 5px;
		padding:4px 8px;
		color:#fff;

		&-question{
			background: #0C3898;
		}
		&-answer {
			background: #F1795E;
			
		}
	}
	&__title-inner{
		margin-top:23px;
	}
	&__title{
		font-weight: 600;
			font-size: 26px;
			color: #0C3898;
			letter-spacing: 0.0145455em;
			line-height: 1.3;
	}
	&__bottom{
		margin-top:8px;
	}
	&__answer-inner{}
	&__answer{
		background: #FEF8F7;
			border-radius: 19px;
		padding:21px 27px;
		p{
			font-weight: 300;
				font-size: 24px;
				line-height: 1.2;
			color: #323232;
		}
	}
	&__like-container{
		margin-top:48px;
		display: flex;
		justify-content: center;
	}
	&__button-inner{
		margin-right:58px ;
	}
	&__like-button{
		border-radius: 50px;
			box-shadow: 0px 0px 10px #D9E7FF;
				width: 85px;
					height: 85px;
		background: #FFFFFF;
						position: relative;
	}
	&__like-number{
		position: absolute;
		font-weight: 700;
			font-size: 31px;
			color: #FFFFFF;
		top: 34%;
			left: 19%;
	}
	&__like-text{
		font-weight: 600;
			font-size: 14px;
			color: #323232;
		}
	&__good-button{}
	&__good-icon {}
	&__good-text{}
	&__bookmark-button{}
	&__bookmark-icon{}
	&__bookmark-text{}
}
