@use '../../../global/' as var;

.p-faq-request {
	background: #F7FAFF;
	padding-top: 130px;

	&__wrapper {
		padding: 69px;
	}

	&__container {
		background: #fff;
		border-radius: 19px;
		padding: 48px 103px;
		box-shadow: 0px 0px 10px #D9E7FF;
		margin-top: 27px;
	}

	&__title-inner {
		text-align: center;
	}

	&__title {
		font-weight: 700;
		font-size: 28px;
		color: #0C3898;
	}

	&__form-inner {
		margin-top: 40px
	}

}

.p-faq-request-form {
	&__items {
		margin-top: 26px;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-top: 42px;
			text-align: center;
		}
	}

	&__text {
		font-weight: 300;
		font-size: 18px;
		display: block;
		color: #323232;
		margin-bottom: 11px;
	}

	&__category-inner {
		position: relative;
		display: inline;
		margin-top: 11px;

		&::after {
			content: url(/static/assets/images/link-arrow.svg);
			display: inline-block;
			position: absolute;
			top: 28px;
			right: -126px;
			transform: rotate(90deg);
		}
	}

	&__category {
		position: relative;
		display: block;
		border-radius: 4px;
		cursor: pointer;
		border: 1px solid #D9E7FF;
		padding: 11px;
		padding-right: 30px;
		font-weight: 300;
		font-size: 20px;
		color: #0C3898;
	}

	&__input {
		width: 100%;
		background: #FFFFFF;
		border: 1px solid #D9E7FF;
		border-radius: 6px;
		padding: 21px 18px;

		&::placeholder {
			font-size: 20px;
			color: #C9C9C9;
		}
	}

	&__input-textarea {
		width: 100%;
		background: #FFFFFF;
		border: 1px solid #D9E7FF;
		border-radius: 6px;
		padding: 21px 18px;

		&::placeholder {
			font-size: 20px;
			color: #C9C9C9;
		}
	}

}
