$font-base: 'Hiragino Sans', '游ゴシック',
	'Yu Gothic', '游ゴシック体', 'YuGothic', Arial,
	sans-serif;
// $font-title: 'sofia-pro-soft', sans-serif;

$base-font-size: 16px;

$primary-color: #0c3898;

$secondary-color: rgba(12, 56, 152, 0.05);

$base-text-color: #323232;

$placeholder-text-color: #c9c9c9;

$white: #ffffff;

$bg-light-color: #f7faff;

$answer-primary-color: #f38a72;

$answer-secondary-color: #fef8f7;

$max-width-size: 1200px;

// 画面幅
$breakpoints: (
	'sm': (min-width: 576px,
	),
	'md': (min-width: 768px,
	),
	'lg': (min-width: 992px,
	),
	'xl': (min-width: 1200px,
	),
	'xxl': (min-width: 1400px,
	),
	) !default;
