{% load static %}
<section class="p-archive-pagination">
	<div class="p-archive-pagination__wrapper l-wrapper">
		<nav aria-label="ページネーション">
            <ul class="c-archive-pagination">
							<li class="c-archive-pagination__item">
                <a class="c-archive-pagination__link" href="">
									<span class="c-archive-pagination__text previous">前へ</span
                  >
								</a>
              </li>
              <li class="c-archive-pagination__item">
                <a class="c-archive-pagination__link"
								href=""
								aria-current="page"
                  ><span class="u-screen-reader-text">ページ</span>1</a
                >
              </li>
              <li class="c-archive-pagination__item">
                <a
                  class="c-archive-pagination__link"
                  href=""
                  ><span class="u-screen-reader-text">ページ</span>2</a
                >
              </li>
              <li class="c-archive-pagination__item">
                <a class="c-archive-pagination__link" href=""
                  ><span class="u-screen-reader-text">ページ</span>3</a
                >
              </li>
              <li class="c-archive-pagination__item">
                <a class="c-archive-pagination__link" href="">
									<span class="u-screen-reader-text">ページ</span>4</a
                >
              </li>
              <li class="c-archive-pagination__item">
                <a class="c-archive-pagination__link" href="">
									<span class="c-archive-pagination__text next">次へ</span
                  >
								</a>
              </li>
            </ul>
          </nav>
	</div>
</section>
