{% load static %}
<section class="p-contents-list">
    <div class="p-contents-list__wrapper l-wrapper">
        <div class="p-contents-list__container l-container">
					<h2 class="c-section-title" data-english-title="INFORMATION">お知らせ</h2>
        <p class="c-section-title__subtext">本サイトの更新状況をお知らせします。</p>
            <div class="p-contents-list__column">
                <article class="c-post-card">
                    <div class="c-post-card__top">
                        <div class="c-post-card__infomation-inner">
                            <span class="c-category-tag">INFORMATION</span>
                            <time datetime="" class="c-post-card__date">2022/05/06</time>
                        </div>
                        <h3 class="c-post-card__title">
                            <a href="" class="c-post-card__title-link">
                                記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。...
                            </a>
                        </h3>
                    </div>
                    <div class="c-post-card__bottom">
                        <a href="" class="c-post-card__link">詳しく読む</a>
                    </div>
                </article>
            </div>
            <div class="p-contents-list__column">
                <article class="c-post-card">
                    <div class="c-post-card__top">
                        <div class="c-post-card__infomation-inner">
                            <span class="c-category-tag">INFORMATION</span>
                            <time datetime="" class="c-post-card__date">2022/05/06</time>
                        </div>
                        <h3 class="c-post-card__title">
                            <a href="" class="c-post-card__title-link">
                                記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。...
                            </a>
                        </h3>
                    </div>
                    <div class="c-post-card__bottom">
                        <a href="" class="c-post-card__link">詳しく読む</a>
                    </div>
                </article>
            </div>
            <div class="p-contents-list__column">
                <article class="c-post-card">
                    <div class="c-post-card__top">
                        <div class="c-post-card__infomation-inner">
                            <span class="c-category-tag">INFORMATION</span>
                            <time datetime="" class="c-post-card__date">2022/05/06</time>
                        </div>
                        <h3 class="c-post-card__title">
                            <a href="" class="c-post-card__title-link">
                                記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。...
                            </a>
                        </h3>
                    </div>
                    <div class="c-post-card__bottom">
                        <a href="" class="c-post-card__link">詳しく読む</a>
                    </div>
                </article>
            </div>
            <div class="p-contents-list__button-inner">
                <a href="" class="c-primary-button">もっと見る</a>
            </div>
        </div>
    </div>
</section>
