{% load static %}
<section class="p-information">
  <div class="p-information__wrapper l-wrapper">
    <h2 class="c-section-title" data-english-title="INFORMATION">お知らせ</h2>
    <p class="c-section-title__subtext">本サイトの更新状況をお知らせします。</p>
		<div class="p-information__container">
			<div class="p-information__column">
					<article class="c-information-card">
          <div class="c-information-card__top">
            <div class="c-information-card__infomation-inner">
              <span class="c-category-tag">INFORMATION</span>
              <time datetime="" class="c-information-card__date">2022/05/06</time>
            </div>
            <h3 class="c-information-card__title">
              <a href="" class="c-information-card__title-link">
                記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。...
              </a>
            </h3>
          </div>
          <div class="c-information-card__bottom">
            <a href="" class="c-information-card__link">詳しく読む</a>
          </div>
        </article>
			</div>
			<div class="p-information__column">
					<article class="c-information-card">
          <div class="c-information-card__top">
            <div class="c-information-card__infomation-inner">
              <span class="c-category-tag">INFORMATION</span>
              <time datetime="" class="c-information-card__date">2022/05/06</time>
            </div>
            <h3 class="c-information-card__title">
              <a href="" class="c-information-card__title-link">
                記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。...
              </a>
            </h3>
          </div>
          <div class="c-information-card__bottom">
            <a href="" class="c-information-card__link">詳しく読む</a>
          </div>
        </article>
			</div>
			<div class="p-information__column">
					<article class="c-information-card">
          <div class="c-information-card__top">
            <div class="c-information-card__infomation-inner">
              <span class="c-category-tag">INFORMATION</span>
              <time datetime="" class="c-information-card__date">2022/05/06</time>
            </div>
            <h3 class="c-information-card__title">
              <a href="" class="c-information-card__title-link">
                記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。...
              </a>
            </h3>
          </div>
          <div class="c-information-card__bottom">
            <a href="" class="c-information-card__link">詳しく読む</a>
          </div>
        </article>
			</div>
			<div class="p-information__button-inner">
				<a href="" class="c-primary-button">もっと見る</a>
			</div>
		</div>
  </div>
</section>
