<section class="p-keyword-search">
  <div class="p-keyword-search__wrapper l-wrapper">
    <h2 class="c-section-title" data-english-title="SEARCH">
      キーワード検索
    </h2>
    <p class="c-section-title__subtext">キーワードで検索ができます。</p>
    <!-- <input
      type="text"
      value=""
      placeholder="キーワードを入力してください。"
    /> -->
    <div class="c-repetition_keywords">
      <h3 class="c-repetition_keywords__title">
        よく検索されるキーワード
      </h3>
      <ul class="repetition_keywords">
        <li class="c-repetition_keywords__item">
          <a class="c-repetition_keywords__link">#キーワードが入ります</a>
        </li>
        <li class="c-repetition_keywords__item">
          <a class="c-repetition_keywords__link">#キーワードが入ります</a>
        </li>
        <li class="c-repetition_keywords__item">
          <a class="c-repetition_keywords__link">#キーワードが入ります</a>
        </li>
        <li class="c-repetition_keywords__item">
          <a class="c-repetition_keywords__link">#キーワードが入ります</a>
        </li>
        <li class="c-repetition_keywords__item">
          <a class="c-repetition_keywords__link">#キーワードが入ります</a>
        </li>
        <li class="c-repetition_keywords__item">
          <a class="c-repetition_keywords__link">#キーワードが入ります</a>
        </li>
        <li class="c-repetition_keywords__item">
          <a class="c-repetition_keywords__link">#キーワードが入ります</a>
        </li>
        <li class="c-repetition_keywords__item">
          <a class="c-repetition_keywords__link">#キーワードが入ります</a>
        </li>
        <li class="c-repetition_keywords__item">
          <a class="c-repetition_keywords__link">#キーワードが入ります</a>
        </li>
        <li class="c-repetition_keywords__item">
          <a class="c-repetition_keywords__link">#キーワードが入ります</a>
        </li>
        <li class="c-repetition_keywords__item">
          <a class="c-repetition_keywords__link">#キーワードが入ります</a>
        </li>
        <li class="c-repetition_keywords__item">
          <a class="c-repetition_keywords__link">#キーワードが入ります</a>
        </li>
      </ul>
    </div>
  </div>
</section>