{% load static %}
<section class="p-search-category">
    <div class="p-search-category__wrapper l-wrapper">
        <div class="p-search-category__container l-container">
            <h2 class="c-section-title" data-english-title="CATEGORY">
                カテゴリーから探す
            </h2>
            <p class="c-section-title__subtext">
                テキストが入ります。テキストが入ります。テキストが入ります。
            </p>
            <nav class="c-tab-navigation">
                <ul class="c-tab-navigation__container">
                    <li class="c-tab-navigation__item is-active" data-tab="01">FAQ</li>
                    <li class="c-tab-navigation__item" data-tab="02">コンテンツ</li>
                </ul>
                <div class="c-tab-navigation__contents">
                    <div class="c-tab-navigation__tab-panel is-show" data-content="01">
                        <div class="p-contents-list__column">
                            <div class="c-category-card ">
                                <div class="c-category-card__wrapper">
                                    <div class="c-category-card__firstlayer">
                                        <h3 class="c-category-card__title">
                                            <a href="" class="c-category-card__firstlayer-link">
                                                大カテゴリー
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="c-category-card__secondlayer">
                                        <ul class="c-category-card__container">
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-contents-list__column">
                            <div class="c-category-card ">
                                <div class="c-category-card__wrapper">
                                    <div class="c-category-card__firstlayer">
                                        <h3 class="c-category-card__title">
                                            <a href="" class="c-category-card__firstlayer-link">
                                                大カテゴリー
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="c-category-card__secondlayer">
                                        <ul class="c-category-card__container">
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-contents-list__column">
                            <div class="c-category-card ">
                                <div class="c-category-card__wrapper">
                                    <div class="c-category-card__firstlayer">
                                        <h3 class="c-category-card__title">
                                            <a href="" class="c-category-card__firstlayer-link">
                                                大カテゴリー
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="c-category-card__secondlayer">
                                        <ul class="c-category-card__container">
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-contents-list__column">
                            <div class="c-category-card ">
                                <div class="c-category-card__wrapper">
                                    <div class="c-category-card__firstlayer">
                                        <h3 class="c-category-card__title">
                                            <a href="" class="c-category-card__firstlayer-link">
                                                大カテゴリー
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="c-category-card__secondlayer">
                                        <ul class="c-category-card__container">
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-contents-list__column">
                            <div class="c-category-card ">
                                <div class="c-category-card__wrapper">
                                    <div class="c-category-card__firstlayer">
                                        <h3 class="c-category-card__title">
                                            <a href="" class="c-category-card__firstlayer-link">
                                                大カテゴリー
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="c-category-card__secondlayer">
                                        <ul class="c-category-card__container">
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-contents-list__column">
                            <div class="c-category-card ">
                                <div class="c-category-card__wrapper">
                                    <div class="c-category-card__firstlayer">
                                        <h3 class="c-category-card__title">
                                            <a href="" class="c-category-card__firstlayer-link">
                                                大カテゴリー
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="c-category-card__secondlayer">
                                        <ul class="c-category-card__container">
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                            <li class="c-category-card__item">
                                                <a href="" class="c-category-card__secondlayer-link"
                                                >小カテゴリー</a
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-tab-navigation__tab-panel" data-content="02">
                    <p>コンテンツたぶ🙆‍♂️</p>
                </div>
        </div>

    </div>

    </nav>
    </div>
    </div>
</section>
