@use '../../global/' as var;

.p-keyword-search {
	background: var.$bg-secondary-color;
}

.l-main-section {
	background: var.$secondary-color;
	height: 418px;

	&::before {
		content: '';
		width: 130px;
		height: 1px;
		display: inline-block;
		background-color: var.$primary-color;
		position: absolute;
		bottom: 380px;
	}

	&__wrapper {
		position: relative;
		width: 929px;
		margin: auto;
		padding-top: 34px;
	}

	&__subtitle {
		position: relative;
		margin-top: 18px;
		color: var.$primary-color;
	}

	&__explanation {
		position: relative;
	}
}

.l-main-search {
	width: 946px;
	height: 69px;

	&__input {}

	&__button {}
}
