{% load static %}

<section class="p-contents-comments">
	<div class="p-contents-comments__wrapper l-wrapper">
		<div class="p-contents-comments__title-inner">
			<h2 class="p-contents-comments__title" data-english-title="COMMENTS">コメント</h2>
		</div>
		<div class="p-contents-comments__container">
			<div class="p-contents-comments__columns">
				<div class="c-comments-card">
					<div class="c-comments-card__top">
						<picture class="c-comments-card__icon-inner">
							<img class="c-comments-card__icon" src="{% static '/assets/images/user-icon.svg' %}" alt="">
						</picture>
						<div class="c-comments-card__icon-right">
							<p class="c-comments-card__name">user_name</p>
						<time class="c-comments-card__date"datetime="2022-05-06">2022/05/06</time>
						</div>
					</div>
					<div class="c-comments-card__middle">
						<p class="c-comments-card__contents">記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。</p>
					</div>
					<div class="c-comments-card__bottom">
						<a href="" class="c-comments-card__link">回答をみる</a>
					</div>
				</div>
			</div>
		<div class="p-contents-comments__columns">
				<div class="c-comments-card">
					<div class="c-comments-card__top">
						<picture class="c-comments-card__icon-inner">
							<img class="c-comments-card__icon" src="{% static '/assets/images/user-icon.svg' %}" alt="">
						</picture>
						<div class="c-comments-card__icon-right">
							<p class="c-comments-card__name">user_name</p>
						<time class="c-comments-card__date"datetime="2022-05-06">2022/05/06</time>
						</div>
					</div>
					<div class="c-comments-card__middle">
						<p class="c-comments-card__contents">記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。</p>
					</div>
					<div class="c-comments-card__bottom">
						<a href="" class="c-comments-card__link">回答をみる</a>
					</div>
				</div>
			</div>
			<div class="p-contents-comments__columns">
				<div class="c-comments-card">
					<div class="c-comments-card__top">
						<picture class="c-comments-card__icon-inner">
							<img class="c-comments-card__icon" src="{% static '/assets/images/user-icon.svg' %}" alt="">
						</picture>
						<div class="c-comments-card__icon-right">
							<p class="c-comments-card__name">user_name</p>
						<time class="c-comments-card__date"datetime="2022-05-06">2022/05/06</time>
						</div>
					</div>
					<div class="c-comments-card__middle">
						<p class="c-comments-card__contents">記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。</p>
					</div>
					<div class="c-comments-card__bottom">
						<a href="" class="c-comments-card__link">回答をみる</a>
					</div>
				</div>
			</div>
			<div class="p-contents-comments__columns">
				<div class="c-comments-card">
					<div class="c-comments-card__top">
						<picture class="c-comments-card__icon-inner">
							<img class="c-comments-card__icon" src="{% static '/assets/images/official-icon.svg' %}" alt="">
						</picture>
						<div class="c-comments-card__icon-right">
								<p class="c-comments-card__name">回答者（爆発研究所  渡邉）</p>
						<time class="c-comments-card__date"datetime="2022-05-06">2022/05/06</time>
						</div>
					</div>
					<div class="c-comments-card__middle">
						<p class="c-comments-card__contents">記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。記事の内容が入ります。</p>
					</div>
					<div class="c-comments-card__bottom">
						<a href="" class="c-comments-card__link">回答をみる</a>
					</div>
				</div>
			</div>
		</div>
		<section class="p-contents-comments-form">
			<div class="p-contents-comments-form__wrapper">
				<div class="p-contents-comments__title-inner">
			<h2 class="p-contents-comments__title" data-english-title="COMMENTS">コメントを投稿する</h2>
		</div>
		<div class="p-content-comments-form__inner">
			<form action="" class="p-faq-request-form">
				 <div class="p-faq-request-form__items">
            <label for="" class="p-faq-request-form__text"
              >お名前(ニックネーム)</label
            >
            <input
              class="p-faq-request-form__input"
              type="name"
              name="user_name"
              id="name"
              placeholder="ニックネームをご入力ください。（爆発太郎）"
            />
          </div>
          <div class="p-faq-request-form__items">
            <label for="" class="p-faq-request-form__text"
              >メールアドレス</label
            >
            <input
              class="p-faq-request-form__input"
              type="email"
              name="email"
              id="email"
              placeholder="メールアドレスを入力してください。"
            />
          </div>
          <div class="p-faq-request-form__items">
            <label for="" class="p-faq-request-form__text"
              >リクエスト内容</label
            >
            <textarea
              class="p-faq-request-form__input-textarea"
              type="textarea"
              name="request"
              id="request"
              placeholder="質問をご入力してください。"
              clos="1"
              rows="15"
            ></textarea>
          </div>
          <div class="p-faq-request-form__items">
            <button type="submit" class="c-primary-button--fill">
              コメントを投稿する
            </button>
          </div>
        </form>
		</div>
			</div>
		</section>
	</div>
</section>
