{% load static %}
<article class="c-contents-article">
      <div class="c-contents-article__wrapper">
        <div class="c-contents-article__top">
          <div class="c-contents-article__information-inner">
            <span class="c-contents-article__rank">会員種別：テキスト？</span>
            <time datetime="" class="c-contents-article__date">2022/05/06</time>
            <div class="c-contents-article__category-inner">
              <span class="c-contents-article__category-tag">#タグ1</span>
              <span class="c-contents-article__category-tag">#タグ2</span>
              <span class="c-contents-article__category-tag">#タグ3</span>
              <span class="c-contents-article__category-tag">#タグ4</span>
            </div>
          </div>
        </div>
        <div class="c-contents-article__middle">
          <div class="c-contents-article__question-inner">
            <div class="c-contents-article__title-inner">
              <h2 class="c-contents-article__title">
                質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。質問内容が入ります。...
              </h2>
            </div>
          </div>
        </div>
        <div class="c-contents-article__bottom">
          <div class="c-contents-article__answer-inner">
            <p
              class="c-contents-article__subtitle-answer-inner"
            >
            </p>
            <div class="c-contents-article__text">
              <p>
                回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。回答内容が入ります。
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="c-contents-article__like-container">
        <div class="c-contents-article__button-inner">
          <button class="c-contents-article__button">
            <span class="c-contents-article__like-number">113</span>
          </button>
          <span class="c-contents-article__button-text">参考になった</span>
        </div>
        <div class="c-contents-article__button-inner">
          <button class="c-contents-article__button">
            <span class="c-contents-article__good-icon"></span>
          </button>
          <span class="c-contents-article__button-text">いいねする</span>
        </div>
        <div class="c-contents-article__button-inner">
          <button class="c-contents-article__button">
            <span class="c-contents-article__bookmark-icon"></span>
          </button>
          <span class="c-contents-article__button-text">ブックマークする</span>
        </div>
      </div>
    </article>
