{% extends 'base.html' %}
{% load static %}
{% block title %}コンテンツタイトル{% endblock %}
{% block breadcrumb %}
<li class="l-breadcrumb__item">
  <a href="" class="l-breadcrumb__link">HOME</a>
</li>
<li class="l-breadcrumb__item">
  <a href="" class="l-breadcrumb__link">コンテンツ一覧</a>
</li>
<li class="l-breadcrumb__item">
  コンテンツタイトル
</li>
{% endblock %}
{% block content %}
<section class="p-contents-detail">
  <div class="p-contents-detail__wrapper l-wrapper">
    {% include 'contents/contentsArticle.html' %}
		{% include 'contents/contentsComment.html' %}
  </div>
</section>
{% include 'keywordSearch.html' %}
{% endblock %}
