{% extends 'base.html' %}
{% load static %}
{% block title %}よくある質問{% endblock %}
{% block breadcrumb %}
<li class="l-breadcrumb__item">
  <a href="" class="l-breadcrumb__link">HOME</a>
</li>
<li class="l-breadcrumb__item">
  コンテンツ一覧
</li>
{% endblock %}
{% block page-title %}よくある質問{% endblock %}
{% block page-subtitle %}テキストが入ります。テキストが入ります。テキストが入ります。{% endblock %}
{% block content %}
{% include 'keywordSearch.html' %}
{% include 'contents/contentsCard.html' %}
{% include 'archive-navigation.html' %}
{% include 'faq/faqRequest.html' %}
{% include 'faq/faqCategory.html' %}
{% endblock %}
